
h1 {
	position: relative;
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	padding-left: 2%;
	padding-right: 2%;
	/* left: 25%; */
}

h1+p {
	/*subtitle*/
	position: relative;
	left: 0;
	text-align: left;
	font-style: italic;
	font-size: 120%;
	padding-right: 2%;
	padding-left: 2%;
}

h6+p {
	/*address*/
	position: relative;
	left: 0;
	text-align: left;
	padding-left: 2%;
	padding-right: 2%;
}

h2, h3, h4, h5{
	position: relative;
	/* background-color: antiquewhite; */
	/* text-align: right; */
	/* padding-right: 75%; */
	left: 10%;
}

#main-paragraph + p {
	position: relative;
	left: 10%;
}

#main-paragraph + ul {
	position: relative;
	left: 10%;
}

ul li {
	position: relative;
	left: 0%;
} 

p, ul {
	/* background-color: lightpink; */
	position: relative;
	left: 26%;
	margin-top: 1em;
	/* margin-bottom: 0.7em; */
	/* margin-right: 0; */
	width: 75%;
	padding-right: 1em;
}


code, em {
	/* background-color: aquamarine; */
	position: relative;
	/* left:50%; */
	/* text-align: left; */
	/* padding-right: 5%; */
	/* padding-left: 5%; */
}

code {
	color:#8b0000;
}

strong{
	/* background-color:coral; */
	position: relative;
	text-align: left;
	/* width: 55%; */
}

dl {
	/* background-color: lightblue; */
	
}

dt {
	/* background-color: darkgreen; */
	position: relative;
	width: 90%;
	left:10%;
	padding-right:1em;
	color:#8b0000;
	/* text-align: right */
}

dt::after {
	content: "\A  ";
	white-space: pre;
}

dt::before {
	content: "\A  ";
	white-space: pre;
}

dd {
	display: flex;
	/* background-color: gold; */
	padding-right: 2%;
	padding-left: 2%;
}	

dd code{
	/* background-color: gold; */
	padding-top: 2px;
	flex:0 0 23%;
	text-align: right;
}

dd code+strong {
	/* background-color: blueviolet; */
	/* position: absolute; */
	left: 2%;
}

p code {
	/* background-color: aquamarine; */
	position: absolute;
	line-height: 1.8em;
	right: 100%;
	width: 33.3%;
	padding-right: 1em;	
	text-align: right;
}




